
%titleFont {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    }

%subtitleFont {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    }

%subsubtitleFont {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    }

%bodyFont {
    font-family: "Fira sans", sans-serif;
    font-weight: 200;
    }
