
@import "modules/colours";
@import "partials/typography";


   #brand-logo {
    font-family: "Quicksand", sans-serif;
    font-size: 2em;
    color: $primaryColor;
  }

  header.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .login-register-controls {
    background-color: none;
  }

  nav{
    background-color: rgba(65, 234, 212, 1);
    border-radius: 0 0 0 25px;
    height: 55px;

  .nav-button {
    background-color: none;
    border: none;
    color: white;
    cursor: pointer;
  }

  ul {
    list-style: none;
    margin-right: 35px;
    display: flex;
    flex-direction: row;

      li {
        padding: 0 7px;
      }
    }
  }
}