
html {
  a {
    text-decoration: none;
  }

  header {
    ul {
      list-style: none;

        .navItems {
          display: flex;
          flex-direction: row;
        }
    }
  }


  body {
      margin: 0;
      padding: 0;
  }

}