// font-family: 'Lekton', sans-serif;
// font-family: 'PT Sans', sans-serif;
// font-family: 'Fira Sans', sans-serif;

@import "modules/colours";
@import "partials/typography";


html {
  background-color: #EFFDE0;
  @extend %bodyFont;

  // Error message basic styles
  .error-message {
    margin-left: 15px;
    float: left;
    color: red;
  }

  .publish-list-btn {
    margin: 20px auto;
  }

  //Removes blue highlight from text fields
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline: none;
  }

  //changes placeholder text in text fields to white
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white !important;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: white !important;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: white !important;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: white !important;
  }

  //Removes yellow autofill background
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border-bottom: 4px solid #5DD39E;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  a {
    text-decoration: none;
    color: $primaryColor;
  }

  h1 {
      margin: 0 20px;
    }

  h2 {
    @extend %titleFont;
    color: $primaryColor;
    margin: 0;
  }

  li {
    list-style: none;
  }

  h3 {
    @extend %subtitleFont;
    color: $secondaryColor;
  }

     #brand-logo {
      font-family: "Quicksand", sans-serif;
      font-size: 2em;
      color: $primaryColor;
    }

    header.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .login-register-controls {
      background-color: none;
    }

    nav{
      background-color: rgba(65, 234, 212, 1);
      border-radius: 0 0 0 25px;
      height: 55px;

    .nav-button {
      background-color: none;
      border: none;
      color: white;
      cursor: pointer;
    }

    ul {
      list-style: none;
      margin-right: 35px;
      display: flex;
      flex-direction: row;

        li {
          padding: 0 7px;
        }
      }
    }
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    color: #303030;

    .select-bg-colour {
      margin: 20px 0;
      display: flex;
      justify-content: center;
      position: fixed;
      bottom: 0;
    }

    .autocomplete-field {
      position: absolute;
      background: #fff;
      z-index: 99;
      width: 400px;
      border-radius: 25px;
    }

    .autocomplete-field ul {
      padding-left: 20px;
    }
    
    .list-form {
      position: relative;
    }

    .colour-controls {
      margin: 0 10px;
      width: 35px;
      height: 35px;
      border: 5px solid #fff;
      border-radius: 50%;
      cursor: pointer;
    }

    .wrapper {
      margin: 0 auto;
      width: 50%;
      max-width: 600px;
      padding-top: 30px;

      .item-image {
        margin-right: 15px;
        float: left;
        border-radius: 50px;
        vertical-align: middle;
        background-position: center;
        background-size: cover;
      }

      .list-item-description {
        font-size: 0.8em;
        line-height: 0.5em;
        width: 100px;
      }

      .list-item-name {
        font-size: 1em;
        width: 100px;
      }

      .list-form {
        width: 100%;
        padding: 15px 0;
        border-bottom: solid 1px grey;
      }

      .list-item, {
        width: 100%;
        padding: 15px 0;
        border-bottom: solid 1px grey;

        .item-image {
          margin-right: 15px;
          float: left;
          border-radius: 50px;
          vertical-align: middle;
          background-position: center;
          background-size: cover;
          display: inline-block;
        }

        .list-item-name {
          font-size: 1em;
          width: 60%;
          display: inline-block;
          margin-bottom: 5px;
        }

        .list-item-description {
          font-size: 0.8em;
          line-height: 1.1em;
          width: 60%;
          display: inline-block;
        }

      }

      #new-list {

        .create-image {
          width: 0;
          height: 0;
          vertical-align: middle;
          background-position: center;
          background-size: cover;
        }

        .create-link,
        .create-name,
        .create-description  {
          outline: none;
          display: inline-block;
          padding: 5px;
          border-radius: 5px;
          width: 200px;
          height: 30px;
        }

        input#start-new-list {
          font-family: 'Fira Sans', sans-serif;
          font-weight: 300;
          display: block;
          margin: 0 auto;
          width: 150px;
          height: 150px;
          border-radius: 100px;
          border: none;
          background-color: rgba(255, 32, 110, 1);
          color: white;
          font-size: 1em;
          text-align: center;
          box-shadow: 10px 10px 0 rgba(65, 234, 212, 1);


        }
      }
    }
  }
}
