// Place all the styles related to the List controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box{
    display: none;
    width: 100%;
}

a:hover + .box,.box:hover{
    display: block;
    position: relative;
    z-index: 100;
}

.socials {
  float: right;
  display: inline-block;

.list-share-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 32, 110, 1);
  margin: auto 5px;
  text-align: center;
}

}




