@import "modules/colours";
@import "partials/typography";



.list-form {
  width: 100%;
  padding: 25px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // border-bottom: solid 1px $primaryColor;
  }

  .list-form-image-container {
    width: 15%;
    margin-right: 10px;
  }

  .list-form-text-field-container {
    width: 72%;
  }

  .list-form-add-list-item-container {
    // width: 10%;
  }

  .add-list-item-button {
    width: 33px;
    height: 33px;

   button {
     width: 35px !important;
     height: 35px !important;
     background-color: $primaryColor !important;

    svg {
     height: 35px !important;
     line-height: 35px !important;
     }
    }
  }

