@import "modules/colours";
@import "partials/typography";

.image-container {
  margin-right: 4px;
}

.item-image {
  border-radius: 50px;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  margin-right: 15px;
  width: 10%;
}

.list-body-container {
  width: 70%;
  text-align: left;
}

.list-item, {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 25px 0;
  border-bottom: dotted 1px $primaryColor;
}

  .list-item-name {
    @extend %subtitleFont;
    color: #502279;
    font-size: 1.1em;
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
  }

  .list-item-description {
    @extend %bodyFont;
    font-size: 0.9em;
    color: $quadColor;
    line-height: 1.3em;
    width: 100%;
    display: inline-block;
  }

  .list-button-container {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .rm-list-item {
    width: 33px;
    height: 33px;

     button {
     width: 35px !important;
     height: 35px !important;
     background-color: $primaryColor !important;

     svg {
       height: 35px !important;
       line-height: 35px !important;
     }
    }
   }



  span.list-icon {
    color: $tertiaryColor;
  }

