@import "modules/colours";
@import "partials/typography";


.image-container {
  margin-right: 4px;
}

.item-image {
  border-radius: 50px;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
}

.list-body-container {
  width: 70%;
}

.list-item-name {
  font-size: 1em;
  width: 100px;
}

.list-item-description {
  font-size: 0.8em;
  line-height: 0.5em;
  width: 100%;
}

.list-item, {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 25px 0;
  border-bottom: solid 1px $primaryColor;

  .item-image {
    margin-right: 15px;
    width: 10%;
    border-radius: 50px;
    vertical-align: middle;
    background-position: center;
    background-size: cover;
  }

  .list-item-name {
    font-size: 1em;
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
  }

  .list-item-description {
    font-size: 0.8em;
    line-height: 1.1em;
    width: 100%;
    display: inline-block;
  }

  .list-button-container {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .rm-list-item {
    width: 33px;
    height: 33px;

     button {
     width: 35px !important;
     height: 35px !important;
     background-color: $primaryColor !important;

     svg {
       height: 35px !important;
       line-height: 35px !important;
     }
    }

  }



  span.list-icon {
    color: $tertiaryColor;
  }

}