// Place all the styles related to the List controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "modules/colours";
@import "partials/typography";

.box{
    display: none;
    width: 100%;
}

a:hover + .box,.box:hover{
    display: block;
    position: relative;
    z-index: 100;
}

.published-list-header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.published-list-item-image {
  border-radius: 50%;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  margin-right: 15px;
  width: 20%;
}

.published-list-text-container {
  width: 80%
}

h3.published-list-item-title {
  margin-bottom: 5px;
  margin-top: 0;
  color: $cinqColor;
}

.published-list-item-body {
  color: $quadColor;
}

.published-list-name-container {
  width: 70%;
}

.published-list-name {
  font-size: 2em;
}

.social-buttons-container {
  display: flex;
  flex-direction: row;
}

.list-share-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $primaryColor;
  margin: auto 3px;
  text-align: center;
  line-height: 47px;
  font-size: 1.5em;
  vertical-align: middle;
  cursor: pointer;
}

span.published-list-icon {
  color: $tertiaryColor;
}






