<!DOCTYPE html>
<html>
  <head>
    <title>GOTTA</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'App' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400|Lekton|PT+Sans|Quicksand" >
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.min.css' />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
