<!DOCTYPE html>
<html>
  <head>
    <title>FinalProj</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'App' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
